* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
  }

  /* Style for the filter dropdown */
  .filter {
    margin-top: 20px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

 .filter #search_booking{
  padding: 6px;
  font-size: 16px;
  color: #0A4D68;
  border-radius: 3px;
  border: 1px solid #c5c5c5;
  outline-color: green;
 }

  .filter select {
    padding: 6px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }

  .filter select:hover,
  .filter select:focus {
    background-color: #fff;
    outline: none;
  }

  /* Style for the booking cards */
  .bookings {
    width: 100%;
    display: flex;
    flex-direction: column;
    -ms-flex-direction: column;
    align-items: center;
    min-height: auto;
  }

  .booking {
    background: #fff;
    padding: 16px;
    margin: 10px 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: all 0.3s ease-in-out;
    max-width: 100%;
    width: 100%;
    position: relative;
  }

  

  .booking-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .booking-info .booking_date_is{
    color: #777;
  }

  .booking-title {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 8px;
    color: #A459D1;
  }

  .booking-title span {
    color: #A459D1;
  }

  .booking-subtitle {
    font-size: 16px;
    color: #999;
    margin-bottom: 4px;
  }


  .confirmed {
    color: green;
  }

  .current {
    color: #0A4D68;
  }

  .pending {
    color: orange;
  }

  .cancelled {
    color: red;
  }

  .booking-action {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-top: 16px;
    margin-top: 16px;
    border-top: 1px solid #c5c5c5;
  }

  .booking-action ._cancel {
    color: red;
    cursor: pointer;
    border: 1px solid red;
    padding: 6px 10px;
    border-radius: 3px;
  }

  .booking-action ._complete {
    color: green;
    cursor: pointer;
    border: 1px solid green;
    padding: 6px 10px;
    border-radius: 3px;
    margin-right: 10px;
  }
