
._form_to_add_coupon{
    width: 100%;
    padding: 10px 0px;
    display: flex;
    flex-direction: column;
    -ms-flex-direction: column;
    align-items: center;
}

._form_to_add_coupon ._form_field__{
    width: 95%;
    display: flex;
    flex-direction: column;
    -ms-flex-direction: column;
    margin-bottom: 10px;

}
/* radio buttons */
._form_field__ ._radio_btns{
    display: flex;
    width: 100%;
}
._radio_btns input[type="radio"]{
    display: none;
}
._radio_btns label{
    padding: 8px 10px;
    color: #004858;
    margin-right: 7px;
    background-color: #f6f6f6;
    border-radius: 3px;
    font-size: 14px;
    cursor: pointer;
    transition: 0.3s;
}
._radio_btns input:checked + label{
    background-color: #0085FF;
    color: #fff;
}

/* radio buttons */

/* submit button */
._form_field__ ._input_submit__btn{
padding: 8px 0px;
margin: 10px 0px;
background: #40a0fa;
color: #fff;
border-radius: 3px;
cursor: pointer;
border: none;
outline: none;
transition: 0.3s;
font-size: 14px;
text-transform: uppercase;
display: flex;
align-items: center;
justify-content: center;
}
._form_field__ ._input_submit__btn:hover{
    background: #0085FF;
}
/* submit button */


._form_field__ .__label{
text-transform: capitalize;
font-size: 14px;
padding: 7px 0px;
}
._form_field__ ._input_field__{
    font-size: 14px;
    padding: 8px 16px;
    border-radius: 3px;
    border: none;
    outline: none;
    border:1px solid #c5c5c5;
}

._form_field__ #coupon_code{
    text-transform: uppercase;
}
._form_field__ ._input_field__:focus{
    outline: 2px solid;
    outline-color: #0085FF;
}
._form_field__ #coupon_code{
    color:#00AB45;
}

.modal-content{
height: 95% !important;
}