/* users.html page */
._users_stats {
    display: flex;
    align-items: center;
    justify-content: unset !important;
}

._users_stats ._stat_box {
    margin-right: 10px;
    width: 27% !important;
}

._users_stats ._stat_box:nth-child(1) .stat_box_top_right ._stat_count_name,
.stat_box_top_right ._stat_count {
    color: #fff !important;
}



._users_stats ._stat_box:nth-child(3) ._stat_box_top {
    background-color: #EFA12B !important;
}

@media (max-width:915px) {
    ._users_stats ._stat_box {
        width: 33% !important;
    }
}

@media (max-width:850px) {
    ._users_stats ._stat_box {
        width: 46% !important;
    }
}

@media (max-width:750px) {
    ._users_stats {
        flex-direction: column !important;
        -ms-flex-direction: column !important;
        align-items: center !important;
    }

    ._users_stats ._stat_box {
        width: 100% !important;
        margin: 0px;
        margin-bottom: 10px !important;
    }
}

/* search */
.user_search_container{
    width: 100%;
    padding:5px 0px;
    margin: 5px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.user_search_container #search_user{
    padding: 5px 10px;
    font-size: 14px;
    outline-color: #00AB45;
    border-radius: 3px;
    border: 1px solid #c5c5c5;
}

/* table container */



._table_container_ {
    width: 100%;
    overflow-x: auto;
    height: auto;
    margin-bottom: 30px;
    padding-bottom: 40px;
}

._top_btns_container {
    width: 100%;
    min-height: 50px;
    display: flex;
    align-items: center;
}

._top_btns_container input {
    width: calc(100% - 90px);
    padding: 8px 10px;
    border: none;
    outline: none;
    border: 1px solid #c5c5c5;
    color: #00AB45;
    border-radius: 3px 0px 0px 3px;
}

._top_btns_container ._add_new_menu_btn {
    border: none;
    outline: none;
    border-radius: 0px 3px 3px 0px;
    width: 90px;
    padding: 8px 0px;
    background: #01524C;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
    border: 1px solid #01524C;
}

._top_btns_container ._add_new_menu_btn:hover {
    background: #00AB45;
}

._table_is {
    border-color: #c5c5c5;
    border-collapse: collapse;
    width: 100%;
}

._table_is thead {
    background: #01524C;
}

._table_is thead th {
    padding: 10px;
    color: #fff;
    font-size: 12px;
    text-transform: uppercase;
    word-break: keep-all;
    white-space: nowrap;
}


._table_is tbody tr td {
    text-align: center;
    color: #00AB45;
    padding: 10px;
    white-space: nowrap;
}

._table_is tbody tr td:nth-child(1) {
    color: blue;
}

._table_is tbody tr td ._user_edit_btn , .user_search_container ._user_edit_btn_csv{
    padding: 8px 20px;
    color: #fff;
    background: #00AB45;
    outline: none;
    border: none;
    text-transform: uppercase;
    font-size: 12px;
    border-radius: 3px;
    cursor: pointer;
}

._table_is tbody tr td ._user_delete_btn {
    padding: 8px 10px;
    color: #fff;
    background: #E80000;
    outline: none;
    border: none;
    text-transform: uppercase;
    font-size: 12px;
    border-radius: 3px;
    cursor: pointer;
}


/* table */


/* menu.css for pop up for update */
.modal .modal-content{
    padding: 40px 10px;
}
/* menu.css for pop up for update */




/* coupons.css */
._add_new_coupon_container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 7px 0px;
}
._add_new_coupon_container .add_new_coupon{
    border: none;
    outline: none;
    padding: 8px 16px;
    text-transform: capitalize;
    color: #fff;
    border-radius: 3px;
    cursor: pointer;
    transition: 0.3s;
    background: #00AB45;
}
._add_new_coupon_container .add_new_coupon:hover{
    background: #01524C;
}
/* coupons.css */