
  @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

*{
 
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  /*** remove tap highlight color*/
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    margin: 0;
    padding: 0;
}
body, html {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: 'Inter', sans-serif;
  overflow-X: hidden;
  scroll-behavior: smooth;

}
a:hover{
  opacity: 0.5;
  transition: 0.5s;
  

}
a{
  text-decoration: none;
  list-style: none;
  color: #02645e;
}
svg{
  width: 20px;
  height: 20px;
  color: #333;
  margin: 0px 10px;
}
.space_botom{
  margin-bottom: 10px;
}
.space_botm{
  margin-bottom: 5px;
}
._head_solid_smal{
  font-size: 14px;
  font-weight: 510;
}

.btn{
  background: #f29a03;
  color: #fff;
  padding: 10px 10px;
  border-radius: 5px;
}

.margin_right{
  margin-right: 15px !important;
}
.btnt{
  background: transparent;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  border: 1px solid #999999;
  color: #1c1c1c;
}
.para_w_six{
  width: 60%;
}
.safe i{
  color: #01c962;
}
.danger iconify-icon{
  color: #ff003c;
  font-size: 25px !important;
  margin-right: 10px;
}
.danger{
  display: flex;
  align-items: center;
}
hr{
  border-color: #dddddd41;
}
.two_btn{
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.twobatun{
  padding: 13px 10px;
  width: 49%;
  border-radius: 5px;
  margin: 15px 0px;
  border: none;
  color: #fff;
  outline: none;
  background: #02645e;
  font-size: 12px;
  font-weight: 510;
  letter-spacing: 0.5px;
  line-height: calc(14 * 1.3px);
}
.malta_bg{
  background: #f29a03;
}
.batun{
  padding: 13px 10px;
  width: 100%;
  border-radius: 5px;
  margin: 15px 0px;
  border: none;
  color: #fff;
  outline: none;
  background: #f29a03;
  font-size: 14px;
  font-weight: 550;
  letter-spacing: 0.5px;
  line-height: calc(14 * 1.3px);
}
._logo{
    width:140px;
    height: 53px;
}

._logo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#nav_popped_up {
  width: 100%;
  height: calc(100% - 115px);
  position: fixed;
  display: none;
  top: 65px;
  left: 0;
  background: #fff;
  z-index: 10000;
}

#nav_popped_up ul {
  display: flex;
  flex-direction: column;
  -ms-flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  padding: 20px 0;
}

#nav_popped_up ul li {
  width: 90%;
  margin: 0;
  list-style-type: none;
  position: relative;
  padding: 20px 0;
  margin-bottom: 10px;
}

#nav_popped_up ul li::before {
  content: "";
  width: calc(100% - 40px);
  position: absolute;
  left: 40px;
  bottom: 0;
  height: 0.5px;
  background: #bbb;
}

#nav_popped_up ul li a {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
}
#nav_popped_up ul li a .a_left{
  display: flex;
  align-items: center;
}
#nav_popped_up ul li a .a_left i {
  width: 40px;
  display: flex;
  align-items: center;
  font-size: 20px;
}
#nav_popped_up ul li a .a_left iconify-icon {
  width: 40px;
  display: flex;
  align-items: center;
  font-size: 20px;
}
.continuebtn{
  width: 100%;
  border-radius: 5px;
  margin: 15px 0px;
  background: #f29a03;
  display: flex;
  align-items: center;
  justify-content: center;

}
.continuebtnn{
  width: fit-content;
  border-radius: 5px;
  margin: 10px 0px;
  background: #02645e;
  display: flex;
  padding: 10px 13px;
  font-size: 13px;
  align-items: center;
  justify-content: center;
  color: #fff;
  cursor: pointer;
}
.continuebtnn a{
  color: #fff;
}
.white_btn{
  background: #dddddd8d;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}
.white_btn button{
  color: #585757;
}
.bookbtn{
  width: 250px;
  border-radius: 5px;
  margin: 15px 0px;
  background: #f29a03;
  display: flex;
  align-items: center;
  justify-content: center;
}
.continuebtn a,.bookbtn a{
  border: none;
  color: #fff;
  outline: none;
  font-size: 14px;
  font-weight: 550;
  padding: 13px 10px;
  width: 100%;
  text-align: center;
  letter-spacing: 0.5px;
  line-height: calc(14 * 1.3px);

}
/* service booking start style... */
/* gallery style start */
.size_se{
  font-size: 7px;
  font-weight: 500;
}
.scroll_gallry{
  position: absolute;
  background: #f29a0331;
  border: 1px solid #f29a03;
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  padding: 3px;
  backdrop-filter: 5px;
  -webkit-backdrop-filter: blur(5px);
  right: 0px;
  bottom: -15px;
  border-radius: 2px;
  color: #f29a03;
  z-index: 200;
}
.scroll_gallry iconify-icon{
  font-size: 10px;
  margin-left: 5px;  
  font-weight: bold;
}
.gallery_container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 10px 0px;
  width: 100%;
  height: 90px;
  height: fit-content;
  overflow-x: scroll;

}

.gallery_container::-webkit-scrollbar{
  height: 4px;
}
.gallery_container::-webkit-scrollbar-thumb{
  background: linear-gradient(to right ,#2196F3, #ff003c);
  border-radius: 50px;
}

.gallery_img {
  flex: 0 0 auto;
  width: 120px;
  height: 80px;
  margin-right: 5px;
  border-radius: 10px;
}

.gallery_img img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
}
/* gallery style end */

/* why choose us style start  */
.choose_section{
  width: 100%;
  display: flex;
  align-items: center;
  margin: 15px 0px;
}
.choose_box_main{
  width: 94%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  overflow: hidden;
  height: 100%;
  border-radius: 10px;

}
.choose_lift{
  width: 110px;
  position: relative;
  height: 100%;
}
.choose_right{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}
.choose_l_content{
  background-color: transparent;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content:center;margin-bottom: 20px;
  border-radius: 0px 50% 50% 0px;
  height: calc(100% - 25px);
  color: #fff;
  z-index: 10;
  position: relative;
}
.background_topi{
  position: absolute;
  z-index: -1;
}
.background_topi iconify-icon{
  font-size: 130px;
  color: #f29a03;

}
.choose_l_btm_line{
  width: 115%;
  background: #f29a032c;
  height: 100%;
  position: absolute;
  bottom: 0px;
  left: 0px;
  border-radius: 0px 50% 50% 0px;
  z-index: -1;

}
.choose_r_box{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 5px 0px;
  width: 25%;
}
.choose_r_box iconify-icon{
  margin-right: 10px;
  font-size: 30px;
  color: #02645e;
}
.chooser_img{
  width: 80px;
  height: 80px;
  border: 1px solid #aaaaaa;
  padding: 12px;
  border-radius: 5px;
  margin-right: 10px;
}
.chooser_img img {
  width: 100%;
  height: 100%;
}

@media (max-width: 767px) {

  .chooser_img{
    width: 50px;
    height: 50px;
    padding: 10px;
  }
  .choose_r_w_contnet{
    width: calc(100% - 60px);
  }
}
/* why choose us style end */
/* testimonial style  start */
.review_card{
  margin: 20px 0px;
}
.al_rev_count{
  display: flex;
  align-items: center;
}
.al_rev_count iconify-icon{
  color: #f29a03;
  font-size: 30px;
  margin-right: 10px;
  
}

.yelo_i{
  color: #f29a03;
}
.re_r_t_img{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #dddddd84;
  margin-right: 15px;
}
.re_r_t_img img{
  width: 100%;
  height: 100%;
  border-radius: 5px;
}
.re_r_t_img iconify-icon{
  font-size: 30px;
  color: #333;
}
.review_r_top{
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  margin: 15px 0px;
}
.review_top{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.reviews_cards_main{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  flex-shrink: 0;
  overflow-x: auto;
}
.rating_card{
  width: 30%;
  border: 1px solid #ddd;
  padding: 0px 10px;
  border-radius: 10px;
  flex-shrink: 0;

}
.reviews_cards_main::-webkit-scrollbar{
  height: 4px;
}
.reviews_cards_main::-webkit-scrollbar-thumb{
  background: linear-gradient(to right ,#2196F3, #ff003c);
  border-radius: 50px;
}
.center_align{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
}
@media (max-width: 767px) {
  .rating_card{
    width: 90%;
    border: 1px solid #ddd;
    padding: 0px 10px;
    border-radius: 10px;
  }
  .suisine_section_main{
    margin: 17px auto;
    width: 95%;
    height: 100%;
  }
}
/* testimonial style end */
/* <!-- top rated card..start  --> */
.suisine_section_main{
  margin: 37px auto;
  width: 95%;
  height: 100%;
}
.toprated_proile_main_cards{
  margin: 10px 0px;
  gap: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  overflow-x: auto;
  height: 150px;
}
.top_rated_card{
  height: 120px;
  padding: 10px;
  width: 250px;
  background: #f29a032c;
  border-radius: 10px;
  display: flex;
}
.top_rated_card_left{
  width: 50%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
}
.top_rated_card_right{
  width: 50%;
  height: 100%;
  display: flex;
  position: relative;
  align-items: center;
}
.top_rated_content{
  position: absolute;
  background: #f29a0354;
  border-radius: 50% 10px 10px 50%;
  width: 100%;
  height: 120px;
  right: -11px;
  top: -11px;
}
/* .top_rated_left_content p{
 color: #fff;
} */
.margin-left5{
  margin-left: 5px;
}
.top_rated_img_card{
  width: 145px;
  height: auto;
  position: absolute;
  bottom: -5px;
  left: -10px;
}
.top_rated_img_card img{
  width: 100%;
  height: 100%;
}
/* <!-- top rated card..end  --> */

.service_booking_container{
  margin: 0 auto;
  padding: 20px 0px;
  width: 100%;
}
.service_booking_kards{
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;

}
/* party detail style... */
.party_detail_kard{
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.20) 0px 2px 8px;
  padding: 20px;
  border-radius: 15px;
  width: 100%;
  border: 1px solid #dddd;

}
.sticky_complete{
  position: absolute;
  top: 0;
  right: 20px;
  background: #01c96228;
  color: #01c962;
  font-size: 8px;
  font-weight: 550;
  text-align: center;
  padding: 5px;
  border-radius: 0px 0px 5px 5px;

}
.green_para_back{
  background: #01c96228;
  color: #01c962;
  font-size: 8px;
  padding: 5px;
  font-weight: 550;
  border-radius: 2px;
}
.green_para_back_h{
  background: #01c96228;
  color: #01c962;
  font-size: 12px;
  padding: 8px 10px;
  width: 100%;
  text-align: center;
  font-weight: 550;
  border-radius: 5px;
}
/* party detail style... */
.pop_fixed_detail{
  display: flex;
  /* position: absolute; */
  width: 100%;
  align-items: center;
  justify-content: space-between;
  /* top: 55px; */
  padding: 10px 0px;
  background: linear-gradient(#02645d2d, #fff);
}
.line{
  width: 40%;
  color: #000;
  border: 1px dotted #dddddd6d;
}
.fixed_detail_content{
  width: 200px;
  margin-left: 20px;
}
.fixed_img{
  width: 140px;
  height: 140px;
}
.fixed_img img{
  width: 100%;
  height: 100%;
}
.kard_additional_sec{
  margin-top: 15px;
  border-top: 1px dashed #dddd;
  padding: 10px 0px;
}
ul{
  padding: 0px 15px;
}
ul li{
  /* padding: 5px 0px; */
  color: #585757;
  font-size: 13px;
  line-height: calc(14 * 1.3px);
  margin: 10px 0px;
}
.para_li{
  color: #585757;
  font-size: 13px;
  line-height: calc(14 * 1.3px);
}
.service_booking_kard{
  position: relative;
  width: 100%;
  max-width: 500px;
  height: fit-content;
  box-shadow: rgba(0, 0, 0, 0.20) 0px 1px 8px;
  padding: 15px;
  border-radius: 15px;
  cursor: pointer;
}
.para_gray{
  color: #585757;
  font-size: 12px;
  display: flex;
  line-height: calc(12 * 1.3px);
  align-items: center;
  
}
.para_gray iconify-icon{
  margin-right: 5px;
}
.status_booking{
  position: absolute;
  top: 50px;
  right: 0;
  background: #f1063d38;
  color: #f1063d;
  font-size: 10px;
  padding: 3px 3px 3px 7px;
  margin-left: 10px;
  border-radius: 20px 0px 0px 20px;

}
.kard_top{
  display: flex;
  width: 100%;
}
.service_kard_img{
  width: 53px;
  height: 50px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  border-radius: 50%;
  background: #f8bc5355;
  margin-right: 15px;
  overflow: hidden;
}
.service_kard_img iconify-icon{
  font-size: 50px;
  margin-bottom: -10px;

}
.kard_timing iconify-icon{
  margin-right: 5px !important;
  margin-bottom: -5px;
  font-size: 16px !important;
}
.margten{
  margin: 0px 30px;
}
.marg_to_bo{
  margin: 10px 0px;
}
.kard_timing{
  width: 100%;
  border-bottom: 1px solid #dddddd8d;
  padding-bottom: 25px;
  display: flex;
  align-items: center;
  justify-content: flex-start;

}
.space_ten{
  margin: 10px 0px;
}
.kard_details{
  width: calc(100% - 50px);
  margin-top: 5px;
}

.kard_bottom{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 15px;
  height: 70px;
  width: 100%;
  border-top: 1px solid #dddddd8d;
}
.need_help{
  display: flex;
  align-items: center;
}
.need_help iconify-icon{
  font-size: 25px;
  margin-right: 10px;
}
.summary_section{
  padding: 15px;
  box-shadow: rgba(0, 0, 0, 0.20) 0px 1px 8px;
  border-top: 1px solid #dddddd8d;
  border-radius: 10px;
  margin-bottom: 25px;

}
.note_summary{
  background: #f1063d1b;
  padding: 10px;
  border-radius: 10px;
}
.note_summary p{
  margin-top: 10px 0px;
}
.note_summary a{
  font-weight: 550;
  
}
.trust_container{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 15px;
}
.trust_img{
  width: 50%;
}
.trust_img img{
  width: 100%;
}
.trust_img2{
  width: 100px;
  height: auto;
}
.trust_img2 img{
  width: 100%;
  height: 100%;
}
.curser{
  cursor: pointer;
}
.summary_top_box{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.choice_dish_container{
  margin: 20px 0px;
}
.choc_d_box{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 15px 0px;
  
}
.choice_veg_icn_sec{
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}
.choice_veg_icn_sec iconify-icon{
  font-size: 12px;
  margin-left: 10px;
}
.ingredS_list_top{
  margin: 70px 0px;
}
.ingreds_right{
  border: 1px solid red;
  position: relative;
}
.ingreds_right_img{
  border: 1px solid #2196F3;
  position: absolute;
  right: -10px;
  bottom: -20px;
}
/* service booking end style... */
/* no booking page style .... */
.no_book_page{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 80%;
  flex-direction: column;
}
.no_book_img {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0px;
  font-size: 100px;
  background-color: #ff003c15;
  border-radius: 50px 5px 50px 5px;
  color: #ff003c;
  padding: 20px;
}
/* no booking page style .... */
/* issue page style  */
.gol_active{
  background: #02645e;
  color: #fff !important;
  border: 3px solid #02645e !important;
}
.issue_page{
  width: 100%;
  margin: 0px auto;
  
}
.left_space_five{
  margin-left: 5px;
}
.issue_top_section{
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #ddd;
  padding: 0px 10px 15px 10px;
}
.stipone{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}
.issue_top_section hr{
  width: 40%;
  margin-top: 17px;
}
.isuue_bx{
  margin: 10px 0px;
  padding: 10px 20px;
  border-radius: 4px;
  border: 1px solid #dddddd79;
  box-shadow: rgba(0, 0, 0, 0.20) 0px 2px 8px;
  width: fit-content;
  cursor: pointer;
}
.gol_circle{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 3px solid #585757;
  color: #585757;
  font-weight: 510;
  margin: 7px 0px;

}

/* issue page style  */
.time_bx_section{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 15px 0px;
  max-height: 440px;
  overflow-y: auto;
  
}

.time_bx_section::-webkit-scrollbar {
  display: none;
}
.time_bx_section a{
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  padding: 10px;
  width: 100px;
  border: 1px solid #1c1c1c4b;
  margin: 10px 10px 10px 0px;
  border-radius: 8px;
  font-size: 13px;
  font-weight: 300;
  color: rgba(28, 28, 28, 0.831);
  line-height: calc(14 * 1.3px);

}
.date_bx_section{
  display: flex;
  /* flex-direction: column; */
  /* align-items: center;
  justify-content: center; */
  margin: 1px 0px;
  /* max-height: 440px; */
  /* overflow-y: auto; */

}
.date_bx_section a{
  width: 100%;
  display: flex;
  border: none;
  border-radius: 4px;
  margin: 6px 0px;
  align-items: center;
  justify-content: flex-start;
  background: #dddddd28;
  border: 1px solid #ddd;
}
.date_bx_section a:hover{
  background: #4CAF50;
  color: #fff;
  opacity: 1;

}

.batun:hover{
  opacity: 0.5;
  transition: 0.5s;
}
.heading_p{
  font-size: 18px;
  font-weight: 550;
}
.para_p{
  font-size: 13px;
  font-weight: 300;
  color: #333;
  line-height: calc(14 * 1.3px);

}
.para_p_active{
  color: #1c1c1c;
  font-weight: 500;
  font-size: 14px;
   line-height: calc(14 * 1.3px);
}
.para_h{
  font-size: 14px;
  font-weight: 550;
  line-height: calc(14 * 1.3px);
  margin-bottom: 7px;
}
.para_h_{
  font-size: 14px;
  font-weight: 550;
  line-height: calc(14 * 1.3px);
  
}
.main_clr{
  color: #02645e;
  text-align: center;
  line-height: 22px;
}

.Ord_active{
  margin: auto;
  background: #01c962;
  padding: 4px 6px;
  font-size: 10px;
  font-weight: 300;
  color: #fff;
  border-radius: 20px;
}

/* Booking preference styling */
.pre_bk_kart_mainpage{
  width: 100%;
  margin: 15px 0px;

}
.amnt_detail_btn{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  bottom: 48PX;
  left: 0px;
  padding: 0px 15px;
  background: #fff;
  z-index: 120;
}
.pre_bk_box{
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #1c1c1c4b;
  height: 50px;
  padding: 0px 15px;
  border-radius: 5px;
  margin: 10px 0px 0px 0px;
}
.pre_img_text{
  display: flex;
  align-items: center;
}
.preimg{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  margin-right: 10px;
  border-radius: 50%;
  background: #dddd;
}
.preimg iconify-icon{
  font-size: 24px;
}
.pre_bk_slect_sec{
   width: 100%;
   margin-top: 5px;
   border: 1px solid transparent;
   cursor: pointer;
}

.pre_bk_kart_page{
  width: 94%;
  margin: 0 auto;
  padding-bottom: 90px;
  padding-top: 40px;
}
/* bottom menu start here... */
.bottm_menu_container{
  width: 100%;
  position: relative;
  height: 50px;
  z-index: 120;
}
.bottom_btn{
  padding: 5px 0px;
  border: none;
}
.bottom_menu_box{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: fixed;
  height: 50px;
  bottom: 0;
  background: #fff;
  z-index: 100;
  border: 1px solid #ccc;
}
.bottom_btn_bx{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: fixed;
  height: 60px;
  bottom: 0;
  background: #fff;
  z-index: 100;
  padding: 10px 0px;
  border: none;
}

.bottom_menu_box iconify-icon{
  font-size: 30px;
}
.bottom_menu_box a:hover{
  color: #f1063d;
  opacity: 1;
}
/* bottom menu end here... */
/* top menu start here... */
.top_menu_container{
  width: 100%;
  position: relative;
  height: 50px;
}
.top_menu_box{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  height: 70px;
  top: 0;
  background: #fff;
  z-index: 100;
  /* border: 1px solid #ccc; */
  padding: 0px 50px;
}
.top_menu_box iconify-icon{
  font-size: 30px;
}
.top_menu_box a:hover{
  color: #f1063d;
  opacity: 1;
}
.top_side_nav{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.top_side_nav iconify-icon{
  font-size: 35px;
}
.top_nav_ico{
  position: absolute;
  bottom: -2px;
  right: -2px;
  border: 2px solid #fff;
  background: #02645e;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  padding: 1px;

}
.top_nav_ico iconify-icon{
  font-size: 13px;
  color: #fff;
}
.profile_top_nav{
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: 2px solid #02645e;
  background: #dddddd79;
}
.profile_top_nav img{
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
/* top menu end here... */


/* popup container 2 start */
.scadual_box{
  margin-top: 55px;
  padding: 10px 0px;
  z-index: 200;
}
.scadual_one_sec{
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(0, 0, 0, 0.20) 0px 2px 8px;
  border-radius: 10px;

}
.padding_top{
  padding-top: 50px;
}
.timing_cenetr{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 5px;
  border: none;
  width: 100%;
}
.cuisine_kart_section{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 15px 0px;

}
.cuisine_kart{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.cui_kart_img{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 10px 0px;
}
.cui_kart_img img{
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
/* popup container 2 end */

  /* The Modal (background) */
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 200; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    bottom: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  #modal3 {
    display: none; /* Initially hide the modal */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* Add other styles for your modal */
  }
  
  #modal3.active {
    display: block; /* Show the modal when it has the 'active' class */
    /* You can also use other styles to control the appearance of the modal when active */
  }
  #modal4 {
    display: none; /* Initially hide the modal */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* Add other styles for your modal */
  }
  
  #modal4.active {
    display: block; /* Show the modal when it has the 'active' class */
    /* You can also use other styles to control the appearance of the modal when active */
  }
  .popup1 {
  
    width: 100%;
    transition: all 5s ease-in-out;
    margin: 0px auto;
    padding: 25px 15px;
    padding-bottom: 0;
    background: #fff;
    border-radius: 12px 12px 0px 0px;
    /* width: 100%; */
    position: fixed;
    left: 0;
    transition: all 5s ease-in-out;
    height: fit-content;
    bottom: 0;
    
  }
  


  .popup1 h2 {
    font-size: 22px;
    margin-top: 0;
    color: var(--main-color);
    margin-bottom: 20px;
    font-family: Tahoma, Arial, sans-serif;
  }
  .popup1 .close {
    position: absolute;
    top: 16px;
    right: 15px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
  }
  .popup1 .close:hover {
    color: var(--main-color);
  }
  .popup1 .content {
    max-height: 90%;
    overflow: auto;
  }
.content1{
  margin: 15px 0px;
}
.popup_2{
  /* position: relative; */
  height: 100%;
  border-radius: 0;
}

/* popup of coupon start style */

.apply_popup {
  width: 95%;
  transition: all 5s ease-in-out;
  margin: 0px auto;
  padding: 25px 15px;
  padding-bottom: 0;
  background: #fff;
  border-radius: 12px;
  /* width: 100%; */
  position: fixed;
  transition: all 5s ease-in-out;
  height: 250px;
  left: 10px;
  bottom: 25%;
  
}
.apply_coupon_content{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.apply_coupon_img{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* popup of coupon end style */
.pop_up_top_sec{
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  background: #01c962;
}
.count_service{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.increase_decrease_box{
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #1c1c1c4b;
  padding: 13px 15px;
  border-radius: 5px;
  margin: 15px 0px;
}
.incre_dcre_daba{
  display: flex;
  align-items: center;
  /* width: 65px; */
  height: 25px;
  border-radius: 5px;
  z-index: 10;
  box-shadow: rgba(0, 0, 0, 0.20) 0px 1px 6px;
  margin-bottom: 7px;
}
.incre_no_dcree{
  background: #01c962;
  color: #fff !important;
}

.decree_w{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px;
  width: 25px;
  height: 25px;
  color: rgba(28, 28, 28, 0.831);
  font-size: 12px;
  font-weight: 300;
}

.unactive{
  color: #999999;
}
.space_top{
  margin-top: 5px;
  font-size: 13px !important;
}
.space_topp{
  padding: 20px 0px;
}
.decree{
  padding: 7px;
  width: 30px;
  cursor: pointer;
}
/* Booking preference style ending*/
.kart_services_main{
  /* border: 1px solid red; */
  margin: 10px auto;
  margin-top: 17px;
  width: 95%;
}
.kart_services_sec{
  display: flex;
  width: 100%;
  /* border: 2px solid blue; */
  gap: 10px;
  margin-top:15px ;
  align-items: center;
  justify-content: center;

}
.service_kart_card{
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  width: 25%;
  margin: 1px;
  border-radius: 5px;
  background-color: #fff;
  border: 1px solid #ddd;
  position: relative;
  height: 95px;
}
.service_kart_card .colr{
  color: #1c1c1c;
}
.deal_kart{
  position: absolute;
  top: 0px;
  left: 0px;
  padding: 25px 10px;
  padding-bottom: 55px;
  background: #f1063d;
  overflow: hidden;
}

.deal_kart::after{
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background: #fff;
  top: 60%;
  left: 0;
  transform: rotate(45deg);
}
.deal_kart p{
  line-height: 0;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
}
.fifty{
  font-size: 12px !important;
  font-weight: bold;
}

/* offer ribbon */
.ribbon-2 {
  top: 1px;
  left: 1px;
  position: absolute;
  padding: 3px;
  border-radius: 2px;
  background: #ff003c;
  color: #fff;
  font-weight: bold;
}
.ribbon-2 span{
  font-size: 8px !important;
  font-weight: 300 !important;
}

.kart_card_block img{
  width: 100%;
  height: 100%;
}
.kart_card_block svg{
  width: 90px;
  height: 90px;
}
.kart_card_block_bg{
  background: #f29a0354;
  width: 100%;
  height: 50px;
  position: absolute;
  bottom: 0;
  border-radius: 100% 100% 0px 0px;
  z-index: 0;
}
.kart_card_block_bgg{
  background: #9f580cf9;
  width: 150%;
  height: 50px;
  position: absolute;
  bottom: 0;
  right: 0;
  border-radius: 0px 0px 0px 0px;
  z-index: 0;
  rotate: -50deg;
}
.kart_card_img_btnblock{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  
}
.kart_card_block{
  width: 120px;
  height: 105px;
  padding: 0px;
  margin-left: -10px;
  border-radius: 5px;
  /* border: 1px solid #cfcfcf; */
  /* border: 1px solid #ccc; */
  z-index: 1;
  margin-bottom: 11px;
}
.kart_card_block_content{
  width: calc(100% - 70px);
  height: 100%;
  display: flex;
  margin-bottom: 5px;
  margin-left: 1px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 1;
}
.kart_card_block_cntent{
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.container_kart {
  margin: 0 auto;
  margin-top: 10px;
  position: relative;
  width: 95%;
  height: 0;
  padding-bottom: 40%;
  user-select: none;
  border-radius: 7px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  background-color: #1c1c1c;
  /* box-shadow: 0 11px 22px rgba(0, 0, 0, 0.2), 0 7px 7px rgba(0, 0, 0, 0.24); */
}

.container_kart input {
  display: none;
}
.container_kart .slide_img {
  position: absolute;
  border-radius: 20px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.container_kart .slide_img img {
  width: 100%;
  height: 100%;
  max-width: 100%;
  object-position: top;
  object-fit: cover;
  border-radius: 21px;

}
.container_kart .slide_img .prev, .container_kart .slide_img .next {
  width: 12%;
  height: inherit;
  position: absolute;
  top: 0;
  background-color: rgba(255, 82, 82, 0.2);
  z-index: 99;
  transition: 0.45s;
  cursor: pointer;
  border-radius: 20px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  text-align: center;
}
.container_kart .slide_img .next {
  right: 0;
}
.container_kart .slide_img .prev {
  left: 0;
}
.container_kart .slide_img .prev:hover, .container_kart .slide_img .next:hover {
  transition: 0.3s;
  background-color: rgba(255, 82, 82, 0.8);
}
.container_kart .slide_img .prev span, .container_kart .slide_img .next span {
  position: absolute;
  width: 0px;
  height: 0px;
  border: solid 20px;
  top: 50%;
  transform: translateY(-50%);
}
.container_kart .slide_img .prev span {
  border-color: transparent #fff transparent transparent;
  right: 35%;
}
.container_kart .slide_img .next span {
  border-color: transparent transparent transparent #fff;
  left: 35%;
}
.container_kart #nav_slide {
  width: 100%;
  bottom: -12%;
  height: 11px;
  position: absolute;
  text-align: center;
  z-index: 99;
  cursor: default;
}
.container_kart #nav_slide .dots {
  top: -5px;
  width: 18px;
  height: 18px;
  margin: 0 3px;
  position: relative;
  border-radius: 100%;
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.6);
  transition: 0.4s;
  cursor: pointer;
}
.container_kart #nav_slide #dot1:hover {
  background: #795548;
}
.container_kart #nav_slide #dot2:hover {
  background: #F44336;
}
.container_kart #nav_slide #dot3:hover {
  background: #2196F3;
}
.container_kart #nav_slide #dot4:hover {
  background: #01c962;
}

#i1:checked ~ #one,
#i2:checked ~ #two,
#i3:checked ~ #three,
#i4:checked ~ #four {
  z-index: 9;
  animation: scroll 1s ease-in-out;
}

#i1:checked ~ #nav_slide #dot1 {
  background: #795548;
}

#i2:checked ~ #nav_slide #dot2 {
  background: #F44336;
}

#i3:checked ~ #nav_slide #dot3 {
  background: #2196F3;
}

#i4:checked ~ #nav_slide #dot4 {
  background: #4CAF50;
}

@keyframes scroll {
  0% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}

/* bookings css */
.carrd_kart_content{
  width: 100%;
  /* padding: 10px; */
}
.carrd_kart_content .w_s{
  width: 80%;
  font-weight: 510;
}
.card_con_heading{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.kart_booking_card{
  width: 100%;
  display: flex;
  align-items: center;
  border-radius: 8px;
  padding: 10px;
  cursor: pointer;
  margin: 15px 0px 0px 0px;
  /* border: 1px solid #1c1c1c1f; */
  box-shadow: rgba(0, 0, 0, 0.20) 0px 1px 8px;
  overflow: hidden;
}
.n_include_kart{
  padding: 0px 10px;
  margin: 0px;
}
.step_box_container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  padding: 0px 0px;
}
.step_kart{
  width: 100%;
  max-width: 600px;
  box-shadow: none;
  padding: 0;
  margin: 0px 0px;
  height: 55px;
  /* border: 1px solid #dddddd77; */
  position: relative;
}
.numbrr{
  width: 22px;
  height: 22px;
  position: absolute;
  right: 10px;
  top: 10px;
  background: #dddddd5a;
  border-radius: 50%;
  font-size: 13px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ccc;
}
.included_kart{
  box-shadow: none;
  padding:0;
}
.cardkart_booking_img{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 60px;
  margin-right: 0px;
}
.step_kart_img_box{
  width: 100px;
  height: 100px;
}
.included_kart_img{
  width: 60px;
  margin-right: 15px;
  padding: 15px 10px 10px 10px;
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
  
}
.sml_img_kart{
  padding: 10px;
}
.cardkart_imgimg{
  overflow: hidden;
  width: 60px;
  height: 60px;
  border-radius:50% ;
  border: 1px solid #ccc;
  /* background: #f3bf2136; */
}
.step_kart_img{
  width: 45px;
  height: 45px;
  border-radius: 12px;
  padding: 5px;
}
.included_imgkart_img{
  width: 60px;
  height: 100%;
  border-radius:0;
  border: none;
  border-radius:7px 0px 0px 7px;
  background: none;

}

.cardkart_imgimg_pink{
  background: #f321912b !important;
}
.cardkart_imgimg_blue{
  background: #2195f336!important;
}
.cardkart_imgimg_sabz{
  background: #21f3b136!important;
}
.cardkart_imgimg img{
  width: 100%;
}
.booking_kart_section{
  width: 94%;
  margin: 0 auto;
  padding: 15px 0px;
}
.margin_after_head{
  margin-bottom: 10px;
}


/* start know page chef_party  */
.Faqs_card{
  border: 1px solid #f3219189;
  background: linear-gradient(to right ,#ffbee1, #fff);
  margin-bottom: 20px;
}
.ceneter_heading{
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  width: 100%;
  /* border: 1px solid red; */

}
.ceneter_heading p{
  margin: 0px 10px;
}
.ceneter_heading hr{
  width: 30%;
  color: #999999;
}
.stepceneter_heading hr{
  color: #ddd !important;
  width: 10%;
}
.stepceneter_heading p{
  color: #585757;
}
.hero_how_sec{
  padding: 0px 10px;
  position: relative;
  
}
.now_hero_img{
  width: 100%;
  border-radius: 20px;
  height: 74vh;
  margin-top: 55px;
}
.now_hero_img img{
  width: 100%;
  height: 100%;
  border-radius: 20px;
  object-fit: cover;
}
.now_hero_al_contnt{
  width: 94%;
  margin: 0 auto;
  padding: 15px 0px 0px 0px;
  position: relative;
}


/* start know page chef_party  */


/* <!-- serving city start  --> */
.serving_city_main_cards{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 17px 0px;
}
.city_card{
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.city_img{
  width: 80px;
  height: 80px;
  border: 1px solid #aaaaaa;
  padding: 12px;
  border-radius: 50%;
}
.city_img img{
  width: 100%;
  height: 100%;
}
.city_card p{
  font-size: 14px;
  font-weight: bold;
  color: #02645e;
  margin: 10px 0px;
}
@media (max-width: 767px) {
  .city_card{
    width: 25%;
  }
  .city_img{
    width: 50px;
    height: 50px;
    padding: 10px;
  }
  .city_card p{
    font-size: 10px;
    font-weight: 500;
    color: #02645e;
    margin: 10px 0px;
  }
  .serving_city_main_cards{
    justify-content: space-between;
  }
}
/* <!-- serving city end  --> */

@media screen and (max-width: 1105px) {
  .now_hero_img{
    width: 100%;
    height: 20vh;
  }
}
/* Media query for mobile devices */
@media (max-width: 767px) {
  .gallery_img {
    width: 33.33%; /* Display three images in a row on mobile */
  }
  .choose_right{
    display: flex;
    width: 100%;
    align-items: flex-start;
    padding: 0px;
    flex-wrap: wrap;
  }
  .choose_r_box{
    width: 47%;
  }
  .choose_r_box iconify-icon{
    margin-right: 10px;
    font-size: 25px;
  }
}
/* gallery style end */
@media screen and (max-width: 685px) {
  .top_menu_box{
    padding: 0px 15px;
  }
  /* .content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  } */
  .kart_services_sec{
    /* flex-direction: column; */
    display: flex;
    flex-wrap: wrap;
  }
  .kart_services_main{
    margin-top: 17px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
  }
  .service_kart_card{
    width: 47%;
  }
  .container_kart {
    border: none;
    width: 96%;
    height: 0;
    padding-bottom: 55%;
  }
  .container_kart .slide_img .prev, .container_kart .slide_img .next {
    width: 15%;
  }
  .container_kart .slide_img .prev span, .container_kart .slide_img .next span {
    border: solid 12px;
  }
  .container_kart .slide_img .prev span {
    border-color: transparent #fff transparent transparent;
  }
  .container_kart .slide_img .next span {
    border-color: transparent transparent transparent #fff;
  }
  .container_kart #nav_slide .dots {
    width: 12px;
    height: 12px;
  }
}
.solid_smal{
  font-size: 12px ;
  font-weight: 550 ;
}
.Neg_m_l{
  margin-left: -15px;
}
.Neg_m_l2{
  margin-left: -20px;
}
.pad_l{
  padding-left: 10px;
}
.solid_hsmal{
  font-size: 10px ;
  font-weight: 550 ;
}
.thin_smal{
  font-size: 10px ;
  color: #999999;
}
.thin_smal_l{
  font-size: 10px;
  color: #1c1c1c;
}
.malta{
  color: #F44336;
}
.orang{
  color:#f29a03 ;
}
.space_five{
  margin: 5px 0px;
}