
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

*{
  margin: 0;
  padding:0 ;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  /*** remove tap highlight color*/
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
}
body, html {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: 'Inter', sans-serif;
  overflow-X: hidden;
}
a:hover{
  opacity: 0.5;
  transition: 0.5s;

}
a{
  text-decoration: none;
  list-style: none;
  color: #02645e;
}
.btn{
  background: #f29a03;
  color: #fff;
  padding: 10px 10px;
  border-radius: 5px;
}
.safe i{
  color: #01c962;
}
.danger i{
  color: #ff003c;
}
.batun{
  padding: 13px 10px;
  width: 100%;
  border-radius: 5px;
  margin: 15px 0px;
  border: none;
  color: #fff;
  outline: none;
  background: #f29a03;
  font-size: 14px;
  font-weight: 550;
  letter-spacing: 0.5px;
  line-height: calc(14 * 1.3px);
}
.continuebtn{
  width: 100%;
  border-radius: 5px;
  margin: 15px 0px;
  background: #f29a03;
  display: flex;
  align-items: center;
  justify-content: center;

}
.bookbtn{
  width: 250px;
  border-radius: 5px;
  margin: 15px 0px;
  background: #f29a03;
  display: flex;
  align-items: center;
  justify-content: center;
}
.continuebtn a,.bookbtn a{
  border: none;
  color: #fff;
  outline: none;
  font-size: 14px;
  font-weight: 550;
  padding: 13px 10px;
  width: 100%;
  text-align: center;
  letter-spacing: 0.5px;
  line-height: calc(14 * 1.3px);

}

  .popup-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff; /* white background with some opacity */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 101;
  }

  .popup {
    width: 94%;
    max-width: 600px;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    top: 110px;
    bottom: 90px;
  }

  .back-button {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 55px;
    width: 100%;
    padding: 20px 0px;
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 16px;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: rgba(0, 0, 0, 0.20) 0px 1px 8px;
    z-index: 101; /* Ensure it's above the popup */
  }

  .popup-content {
    /* flex: 1; */
    overflow-y: auto;
    width: 100%;
  }
  button {
    padding: 10px;
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 16px;
  }
  .popup-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    height: 75px;
    padding: 20px 0px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.20) 0px 1px 8px;
    z-index: 101; /* Ensure it's above the popup */
  }

  .popup-buttons button {
    cursor: pointer;
    border: none;
    outline: none;
    background: #f29a03;
    color: #fff;
    padding: 15px 20px;
    border-radius: 25px;
    font-size: 12px;
    font-weight: bold;
  }
