/* add new appliance styling - form*/
form {
    max-width: 100%;
    height: auto;
    padding: 40px 0px;
    background-color: #f7f7f7;
    border-radius: 5px;
    overflow: hidden;
}

label {
    display: block;
    font-size: 14px;
    color: #2196F3;
    margin-bottom: 5px;
    font-weight: normal;
    padding: 5px 0px;
}




input[type="text"],
select,
input[type="number"],
textarea {
    border: none;
    outline-color: #4CAF50;
    display: block;
    width: 100%;
    margin-bottom: 10px;
    padding: 7px 10px;
    border-radius: 3px;
    border: 1px solid #c5c5c5;
    font-size: 12px;
}

textarea {
    resize: none;
    resize: vertical;
}

.file-upload {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
}


.file-upload input[type="file"] {
    border: 1px solid #c5c5c5;
    width: 100%;
    padding: 5px 10px;
    background: #fff;
    border-radius: 3px;
    cursor: pointer;
}

button[type="submit"] {
    display: block;
    margin-top: 20px;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    background-color: #4CAF50;
    color: white;
    font-weight: bold;
    cursor: pointer;
    margin-bottom: 170px;
}

button[type="submit"]:hover {
    background-color: #3e8e41;
}



/* checkbox/radio custom */
._radio_btn_{
    width: 100%;
    margin-bottom: 10px;
}

.inputGroup {
    background-color: #fff;
    display: block;
    position: relative;
    width: 100%;
}
._radio_btn_ .inputGroup:nth-child(1){
    margin-bottom: 10px;
}

.inputGroup label {
    padding: 7px 10px;
    width: 100%;
    display: block;
    text-align: left;
    color:unset;
    font-weight: normal;
    cursor: pointer;
    position: relative;
    z-index: 2;
    transition: color 200ms ease-in;
    overflow: hidden;
}

.inputGroup label:before {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    content: "";
    background-color: #5562eb;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale3d(1, 1, 1);
    transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1);
    opacity: 0;
    z-index: -1;
}

.inputGroup label:after {
    width: 16px;
    height: 16px;
    content: "";
    border: 2px solid #D1D7DC;
    background-color: #fff;
    background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.414 11L4 12.414l5.414 5.414L20.828 6.414 19.414 5l-10 10z' fill='%23fff' fill-rule='nonzero'/%3E%3C/svg%3E ");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 2px 3px;
    border-radius: 50%;
    z-index: 2;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    transition: all 200ms ease-in;
   
}

.inputGroup input:checked ~ label {
    color: #fff;
  }
  .inputGroup input:checked ~ label:before {
    transform: translate(-50%, -50%) scale3d(56, 56, 1);
    opacity: 1;
    width: 100%;
  }
  .inputGroup input:checked ~ label:after {
    background-color: #54E0C7;
    border-color: #54E0C7;
  }
  .inputGroup input {
    width: 16px;
    height: 16px;
    order: 1;
    z-index: 2;
    position: absolute;
    right: 30px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    visibility: hidden;
  }

/* checkbox/radio custom */

._select_able_items_{
    display: flex;
}
._select_able_items_ ._img{
    width: 100px;
    height: 80px;
    border-radius: 3px;
    overflow: hidden;
    margin-right: 20px;
}
._img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
._select_able_items_ ._right_data_{
display: flex;
flex-direction: column;
-ms-flex-direction: column;
justify-content: center;
}
._right_data_ .select_able_name{
    margin-bottom: 8px;
}

._search_menus{
    border: 1px solid #c5c5c5;
    width: 100%;
    min-height: 40px;
    margin-bottom: 10px;
    background: #fff;
    border-radius: 3px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    position: relative;
    cursor: pointer;
}

._search_menus ._selected_filters{
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 6px 10px;
    height: 100%;
}

._search_menus ._selected_filters ._filters{
    width: calc(100% - 30px);
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    overflow: hidden;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

._search_menus ._selected_filters ._filters ._place_holder_{
    color: rgb(165, 165, 165);
    -webkit-user-select: none; /* Safari */
   -ms-user-select: none; /* IE 10 and IE 11 */
    -moz-user-select: none;
        user-select: none; /* Standard syntax */
    font-size: 14px;
}

._filters ._appended{
    background: #D9D9D9;
    border-radius: 5px;
    height: 32px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    cursor: default;
    margin: 5px 0px;
    margin-right: 5px;
}

._filters ._appended ._appended_item{
    color: var(--heading-color);
    margin-right:7px;
    margin-left: 7px;
    font-size: 14px;
    text-transform: capitalize;
}

._filters ._appended .appended_close{
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding:0px 3px;
    cursor: pointer;
    border-radius: 0px 5px 5px 0px;
    background: #E98669;
    color: #fff;
}

._filters ._appended .appended_close:hover{
   color: aqua;
}

._search_menus ._selected_filters ._menu_suggestion_indicator{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
._selected_filters svg{
    fill: #105800;
}

._search_menus ._select_from_list_{
    position: absolute;
    background: #fff;
    top: calc(100% + 2px);
    left: -1px;
    width: calc(100% + 2px);
    max-height: 240px;
    overflow-y: auto;
    border-radius: 0px 0px 0px 0px;
    padding-bottom: 10px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    z-index: 100;
    cursor:default;
}

._select_from_list_ ._select_able_items_{
    padding: 10px;
    margin: 1px 0px;
    color: #4CAF50;
    font-size: 14px;
    cursor: pointer;
}

._select_from_list_ ._select_able_items_:hover{
    background: #e98769d5;
    color: #fff;
}


._search_from_list{
    width: calc(100% - 20px);
    margin: 10px;
}

._search_from_list input{
    padding: 10px;
    width: 100%;
    border: none;
    outline: none;
    border: 1px solid gray;
    border-radius: 5px;
}

._focused_class{
    border-color: #4CAF50 !important;
}

._focused_showing{
    fill: #4CAF50 !important;
    -webkit-transform: rotate(180deg) !important;
        -ms-transform: rotate(180deg) !important;
            transform: rotate(180deg) !important;
}

.empty_element_was_found{
    width: 100%;
    padding: 10px 0px;
    color: red;
    font-size: 14px;
}

._btn_to_upload_appliance{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 15px;
}

._btn_to_upload_appliance ._btn_appliance{
    padding: 5px 14px;
    background: #4CAF50;
    color: #fff;
    border-radius: 3px;
    font-size: 12px;
    cursor: pointer;
    margin-bottom: 10px;
}

.container_1 form{
padding: 30px 10px;
}

