
._tax_container{
    margin: 20px 0px;
    width: 100%;
}
._tax_container label{
    font-size: 14px;
    color: #123668;
    padding: 7px 0px;
}

._tax_container ._input{
    margin-top: 6px;
    width: 100%;
    display: flex;
    align-items: center;
    border: 1px solid #123668;
    border-radius: 3px;
}

._input ._input_tax{
    height: 30px;
    border-radius: 3px 0px 0px 3px;
    border: none;
    padding: 0px 10px;
    outline: none;
    width: calc(100% - 70px);
}
._input .percentage{
    padding: 0px 8px;
    height: 100%;
    background: #f6f6f6;
} 

._input button{
    padding: 8px 0px;
    width: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background: #123668;
    border: 1px solid #123668;
    color: #fff;
    border-radius: 0px 3px 3px 0px;
    border: none;
    outline: none;
}